<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/requirements-inspector"
                contextRoot="webapp/requirements-inspector">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/requirements-inspector-admin"
                contextRoot="webapp/requirements-inspector-admin">
        </webapp>
    </extension>
</plugin>
